{% extends "shop/base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    <div class="row my-3 p-3">
        <h1>This is the profile page for {{user.username}}</h1>
        <br><a class="nav-link my-item" href="{% url 'addbook' %}">Добавить книгу</a>
        <br><a class="nav-link my-item" href="{% url 'listbook' %}">Мои книги</a>
        <br><a class="nav-link my-item" href="{% url 'upd_profile' %}">Редактировать контактную информацию</a>
        <br><a class="nav-link my-item" href="{% url 'upd_user' %}">Редактировать личную информацию</a>
        <br><a class="nav-link my-item" href="{% url 'change_passw' %}">Изменить пароль</a>

    </div>

{% endblock content %}