<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600&display=swap" rel="stylesheet"> 
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style_profile.css">
	<title>Profile</title>
</head>
<body>
	<nav style="background-color: while;" class="navbar">
		<div class="container">
			<a class="navbar__logo" href="#"><img style="margin-right: 10%;" src="img/Логотип.png" alt="logo"></a>
			<div class="navbar__search">
				<form class="navbar__form form" method="POST" action="{% url 'search-books' %}" name="searched">
					<input class="form__input" type="text" placeholder="Введите название книги...">
					<button class="form__btn" type="submit">
						<img class="form__img" src="icons/icons8-поиск-24.svg" alt="icons">
					</button>
				</form>
			</div>
			<div class="menu">
				<input id="menu__toggle" type="checkbox">
				<label class="menu__btn" for="menu__toggle">
					<span></span>
				</label>
				<ul class="menu__box">
					<li><a class="menu__item" href="#">Главная страница</a></li>
					<li><a class="menu__item" href="#">Профиль</a></li>
					<li><a class="menu__item" href="#">Добавить книгу</a></li>
					<li><a class="menu__item" href="#">Найти книгу</a></li>
					<li><a class="menu__item" href="#">Выйти</a></li>
				</ul>
			</div>
		</div>
		<hr>
	</nav>
	<main class="main" style="top: 81px; ">
		<div class="container main-section" style="min-height: 900px;">
			{% block content %}
			<h2 class="main__title_h2" style="padding: 30px;">Результаты: </h2>
				<center>
					{% if searched %}
						{% for book in books %}
							{{ book }} - {{ book.client }} - <a href="{{ book.client.vk_link }}">{{ book.client.vk_link }}</a> <br/>
						{% endfor %}
					{% else %}
						<h1> You forgot to search!! </h1>
					{% endif %}
				</center>
			{% endblock %}
<!--			<h2 class="main__title_h2" style="padding: 30px;">Результаты: </h2>-->
<!--			<div class="main__block" style="margin-bottom: 70px;">-->
<!--				<p class="main__text">Автор: <span>Автор</span></p>-->
<!--				<p class="main__text">Название книги: <span>Название</span></p>-->
<!--				<p class="main__text">Ссылка владельца: <span>url</span></p>-->
<!--			</div>-->
		</div>
	</main>
</body>
</html>